{% extends "layout.html" %}

{% block header %}{{ clusterfile }}{% endblock %}

{% block content %}

Return to <A HREF="{{ url_for('clusters_folder', clusterfolder=clusterfolder) }}">list of clusters</A>. Clusters are
sorted based on length in descending order.<BR/><BR/>

{% for cluster in clusters %}
    {% if loop.index0 == index|int(-1) %}
       {{ cluster }} 
    {% else %}
       <a href="{{ url_for('clusters_display', clusterfile=clusterfile, index=cluster) }}">{{ cluster }}</A>
    {% endif %}
       |
{% endfor %}

{% if index == 'rejected' %}
    rejected
{% else %}
    <a href="{{ url_for('clusters_display', clusterfile=clusterfile, index='rejected') }}">rejected</A> 
{% endif %}

<br><br>
Number of images in cluster: {{ images|length }}

<br><br>

{% if index != 'rejected' %}
    <img src="/static{{ seed }}" width="100%">
{% endif %}
    
{% for image in images %}
    <A HREF="/static{{ image }}"> <img class="lazy" data-original="/static{{ image }}" width=100></A>
{% endfor %}

<script type="text/javascript" charset="utf-8">
$(function() {
    $("img.lazy").lazyload(); 
});
</script>


{% endblock %}
