{% extends "layout.html" %}

{% block header %}{{ site|capitalize }} performance report{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<p>
<b>Overall sub category accuracy: {{ (100*accuracy)|round(1) }}%, top {{k|int}} accuracy: {{ (100*top_k_accuracy)|round(1) }}%</b>
<p/>

<p>
<i>Sub category accuracy</i> reflects how many of the ads in the test set of that category was correctly classified. <i>Top {{ k|int }} category accuracy</i> shows
how often the predicted category was within the <b>top {{k|int}}</b> of predicted categories. There are {{ categories|length }} categories in total.
</p>

<table>
  <tr>
    <th>Sub category</th><th width=100>Train ads</th><th width=100>Test ads</th><th width=100>Sub category accuracy</th><th width=100>Top {{ k|int }} accuracy</th>
  </tr>
  {% for number, category, accuracy, top_k_accuracy, train_count, test_count in categories %}
  <tr>
    <td><a href={{ url_for('report_category', site=site, number=number) }}>{{ category }}</a></td>
    <td>{{ train_count|int }}</td>
    <td>{{ test_count|int }}</td>
    <td>{{ (100*accuracy)|round(1)}}%</td>
    <td>{{ (100*top_k_accuracy)|round(1)}}%</td>
  </tr>
{% endfor %}
  <tr>
    <td><b>Sum</b></td><td><b>{{ train_sum|int }}</b></td><td colspan=3><b>{{ test_sum|int }}</b></td>
  </tr>
</table>
{% endblock %}
