{% extends "layout.html" %}

{% block header %}Mudah performance report: {{ category }}{% endblock %}

{% block content %}

<b>Accuracy: {{ accuracy|round(1) }}%, top level accuracy: {{ top_level_accuracy|round(1) }}%</b>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
img{
max-height: 300px;
max-width: "50%";
}
</style>

<table>
  <tr><td>{{ performance_plot|safe }}</td>
    <td>
      <img id="image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      <div id="info"></div>
    </td>
  </tr>
  <tr>
    <td colspan=2>{{ pie|safe }}</td>
  </tr>
  <tr>
    <td colspan=2>
      <div id="tabs">
	<ul>
	  <li><a href="#tabs-1">Images labelled as <b>{{ category }}</b> but wrongly classified</a></li>
	  <li><a href="#tabs-2">Images the classifier has erroneously classified as <b>{{ category }}</b> </a></li>
	</ul>
	<div id="tabs-1">
	  At test time, these images were labelled as <b>{{ category }}</b>, but the classifier predicted it as something else.
	  Hover over each image to see what category it was predicted to be, and with what score. Images that are here that do not
	  seem to fit in this category hints at noisy labels, i.e. they should have been in a different category.
	  <br/>
	  {% for path, cat, score in wrong_out %}
	  <img class="lazy" data-original={{ url_for('static') }}{{ path }} title="{{ cat }}: {{ score }}" width=200>
	  {% endfor %}
	</div>
	<div id="tabs-2">
	  Images the classifier <i>erroneously</i> has predicted as <b>{{ category }}</b> when classifying other categories. If the images
	  here seem to belong to this category, it is an indication that the classifier was indeed predicting the right category, but that there were
	  noisy labels in the other categories.
	  <br/>
	  {% for path, cat, score in wrong_in %}
	  <img class="lazy" data-original={{ url_for('static') }}{{ path }} title="{{ score }}, originally in {{ cat }}" width=200>
	  {% endfor %}
	</div>
      </div>
    </td>
  </tr>
  
</table>

<script>
    var myPlot = document.getElementById("{{ performance_id }}"),
    hoverImage = document.getElementById("image");
    hoverInfo = document.getElementById("info"),

    myPlot.on('plotly_hover', function(data){
        data.points.map(function(d){
           var info=JSON.parse(d.data.text[d.pointNumber]);
           hoverImage.src="http://52.77.195.194:8080/static"+info.path;
           hoverInfo.innerHTML = d.data.name+'ly classified as <b>' + info.prediction +'</b>, score <b>' + d.y.toPrecision(3) + '</b>';
        });
    });
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
  $( "#tabs" ).tabs();
  } );

  $(function() {
    $("img.lazy").lazyload(); 
  });

</script>


{% endblock %}
