{% extends "layout.html" %}

{% block header %}Mudah performance report: {{ category }}, accuracy: {{ accuracy|round(1) }}%{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- sneaky way to have both index and category in same template -->
{% for number, category in categories %}
<a href={{ url_for('report_category', number=number) }}>{{ category }}</a><br>
{% endfor %}
<!-- end sneaky -->

<style>
img{
max-height: 300px;
max-width: "50%";
}
</style>

<table>
  <tr><td>{{ performance_plot|safe }}</td>
    <td>
      <img id="image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      <div id="info"></div>
    </td>
  </tr>
  <tr>
    <td colspan=2>Wrongly classified pictures ({{ 100-accuracy|round(1) }}%) <br> {{ pie|safe }}</td>
  </tr>
  <tr>
    <td colspan=2>
      <div id="tabs">
	<ul>
	  <li><a href="#tabs-1">Images labelled as <b>{{ category }}</b> but wrongly classified</a></li>
	  <li><a href="#tabs-2">Images the classifier has erroneously classified as <b>{{ category }}</b> </a></li>
	</ul>
	<div id="tabs-1">
	  At test time, these images were labelled as <b>{{ category }}</b>, but the classifier predicted it was something else.
	  Hover over each image to see what category it was predicted to be, and with what score. Images that are here that do not
	  seem to fit in this category hints at noisy labels, i.e. they should have been in a different category.
	  <br/>
	  {% for path, cat, score in wrong_out %}
	  <img class="lazy" data-original=http://52.77.195.194:8080/static{{ path }} title="{{ cat }}: {{ score }}" width=200>
	  {% endfor %}
	</div>
	<div id="tabs-2">
	  Images the classifier <i>erroneously</i> has predicted as <b>{{ category }}</b> when classifying other categories. If the images
	  here seem to belong to this category, it is an indication that the classifier was indeed predicting the right category, but that there were
	  noisy labels in the other categories.
	  <br/>
	  {% for path, score in wrong_in %}
	  <img class="lazy" data-original=http://52.77.195.194:8080/static{{ path }} title="{{ score }}" width=200>
	  {% endfor %}
	</div>
      </div>
    </td>
  </tr>
  
</table>

<script>
    var myPlot = document.getElementById("{{ performance_id }}"),
    hoverImage = document.getElementById("image");
    hoverInfo = document.getElementById("info"),

    myPlot.on('plotly_hover', function(data){
        data.points.map(function(d){
           var info=JSON.parse(d.data.text[d.pointNumber]);
           hoverImage.src="http://52.77.195.194:8080/static"+info.path;
           if( d.data.name == info.prediction ){
               hoverInfo.innerHTML = 'Correctly classified as <b>' + info.prediction +'</b>, score <b>' + d.y.toPrecision(3) + '</b>';
           } else {
    hoverInfo.innerHTML = 'Wrongly classified as <b>'+info.prediction+'</b> with score <b>' + d.y.toPrecision(3) + '</b>';
           }
        });
    });
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
  $( "#tabs" ).tabs();
  } );

  $(function() {
    $("img.lazy").lazyload(); 
  });

</script>


{% endblock %}
